<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{.Title}}</title>
</head>
<body style="font-family:Arial;">
  <h1>{{.Head}}</h1>
  <p>
  {{.Message}}<br>
</p>
<p>
  <li><b>Instance ID:</b>{{.InstanceID}}<br></li>
  <li><b>Instance Index:</b>{{.InstanceIndex}}<br></li>
</p>
  <p>
    <a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a><br>
    Miauw<br>
  </p>

</body>
</html>
