<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{.Title}}</title>
</head>
<body style="font-family:Arial;">
  <h1>{{.Head}}</h1>
  <p>
  {{.Message}}<br>
</p>
<p>
  <table>
  <tr><td><b>Instance ID:</b></td><td>{{.InstanceID}}</td></tr>
  <tr><td><b>Instance Index:</b></td><td>{{.InstanceIndex}}</td></tr>
</table>
</p>
<p>
  <a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a><br>
  Miauw<br>
</p>
<p>
  Also visit:<br>
  <a href="http://vroapi.net">vroapi.net</a><br>
  <a href="http://www.automate-it.today">automate-it.today</a>
</p>
</body>
</html>
